@font-face{
	font-family: 'sans';
	src: url("../Fonts/OpenSans.ttf")
}
@font-face{
	font-family: 'mont';
	src: url("../Fonts/Montserrat-Regular.ttf")
}
.offcanvas-active{
	overflow:hidden;
}

.offcanvas-header{ display:none; }

.screen-darken{
	height: 100%;
	width:0%;
	z-index: 30;
	position: fixed;
	top: 0;
	right: 0;
	opacity:0;
	visibility:hidden;
	background-color: rgba(34, 34, 34, 0.6);
	transition:opacity .2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active{
	z-index:10; 
	transition:opacity .3s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}

/* ============ mobile view ============ */
@media all and (max-width: 991px) {
	
	.offcanvas-header{ display:block; }

	.mobile-offcanvas{
		visibility: hidden;
		transform:translateX(-100%);
	    border-radius:0; 
		display:block;
	    position: fixed;
	    top: 0; left:0;
	    height: 100%;
	    z-index: 1200;
	    width:80%;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    transition: visibility .3s ease-in-out, transform .3s ease-in-out;
	}

	.mobile-offcanvas.show{
		visibility: visible;
    	transform: translateX(0);
	}
	.mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
		display: block;
	}
	.navbar-brand{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.navbar-brand img{
		height: 45px !important;
	}
}	
.nav-link-text {
	color: #55585b!important;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 6px;
}
.nav-link-main-btn{
	background: linear-gradient(90deg,#03a9f4,#185a8d 100%)!important;
	color: white !important;
    padding: 7px 30px!important;
    border-radius: 25px!important;
    border: 3px solid #ffffff!important;
    box-shadow: 0px 9px 22px #00000040!important;
	display: inline-block;
}
.nav-link-text:hover{
	color: #5293C1!important;
}
.home-img{
	background-image: url("../Images/doctor-consultation-wide.85bf9d40.webp");

	height: 510px;
	background-size: cover;
	background-repeat: no-repeat;
}
.home-text{
	font-family: sans;
	margin-bottom: 0;
	margin-top: 7px;
	filter: none!important;
}
.home-large-text {
	font-size: 70px;
	margin: 0;
}
.home-main-text-cont{
	float: left;
	margin: 48px 0px 0 0px;
}
.home-scheduel-demo-btn{
	background: linear-gradient(90deg,#1a688e,#69c128 100%)!important;
	color: white !important;
    padding: 9px 30px!important;
    border-radius: 25px!important;
    border: 3px solid #ffffff!important;
    box-shadow: 0px 9px 22px #00000040!important;
	display: inline-block;
	font-size: 18px;
	margin-left: 7px;
}
@media screen and (min-width: 600px) {
	.home-main-text-cont{
		margin: 140px 0px 0 0px;
	}
}
@media screen and (max-width: 600px) {
	.home-text{
		font-size: 14px;
	}
	.home-large-text{
		font-size:50px;
	}
	.home-call-btn{
		padding: 0.5rem 1rem !important;
    	font-size: 14px!important;

		background: linear-gradient(90deg,#03a9f4,#185a8d 100%)!important;
		color: white !important;
		border-radius: 25px!important;
		border: 3px solid #ffffff!important;
		box-shadow: 0px 9px 22px #00000040!important;
	}
	.home-scheduel-demo-btn{
		padding: 7px 16px!important;
		font-size: 14px !important;
	}
	.services-cards{
		height: 246px!important;
	}
	.services-card-view-all{
		height: 246px!important;
	}
	.footer-connected-text-center{
		text-align: center !important;
	}
	.home-img{
	background-image: url("../Images/doctor-consultation-wide.85bf9d40 copy2.jpg") !important;
	}
}


.checkup-boxes {
	background-color: rgba(255,255,255,0.86);
	border-radius: 15px;
	padding: 20px 25px;
	color: black;
	margin-bottom: 25px;
}

.scheduel-demo-form-div {
	color: white;
	background-color: rgba(255,255,255, 0.3);
	border-radius: 4px;
	padding: 20px;
}

.scheduel-demo-form-labels {
	font-size: 15px;
	color: white;
	font-weight: 600;
	margin-bottom: 3px;
}

.services-cards {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	background: white;
	padding: 24px 30px 37px;
	transition: .2s box-shadow;
	color: black;
	margin-top: 30px;
	height: 280px;
	transition-timing-function: ease-in-out;
}
.services-cards:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 50px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.services-card-view-all {
	background-color: #1171a1;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	padding: 24px 30px 37px;
	transition: .2s box-shadow;
	margin-top: 30px;
	height: 280px;
	transition-timing-function: ease-in-out;
}
.services-card-view-all:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 50px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.specialties-cards {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	width: 100%;
	padding: 20px;
	transition: .2s  box-shadow;
	transition-timing-function: ease-in-out;
}
.specialties-cards:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 50px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.footer-links {
	color: #e1dbdb!important;
	text-decoration: none;
	transition: .2s margin-left;
	font-family: mont;
}
.footer-links:hover {
	color: #8BC542!important;
	margin-left: 10px!important;
}
.footer-subscribe-btn{
	background: linear-gradient(90deg,#1a688e,#69c128 100%)!important;
	color: white !important;
    padding: 0px 30px!important;
    border-radius: 25px!important;
    border: 3px solid #ffffff!important;
    box-shadow: 0px 9px 22px #00000040!important;
	display: inline-block;
	font-size: 23px;
	margin-top: 15px;
	width: 100%;
}

.about-us-cards {
	box-shadow: rgba(0, 0, 0, 0.16) 0 0 3px, rgba(0, 0, 0, 0.23) 0 3px 6px;
	background: rgba(234,234,234,0.59);
	padding: 24px 30px 37px;
	transition: .2s box-shadow;
	color: black;
	margin-top: 30px;
	border-radius: 10px;
	transition-timing-function: ease-in-out;
}
.about-us-cards:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 50px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.contact-cards {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	background: #f1f1f1;
	padding: 20px 0 20px 0;
	transition: .2s box-shadow;
	color: black;
	margin-top: 30px;
	transition-timing-function: ease-in-out;
}
.contact-cards:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 50px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}